/* whole page */
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main > img {
  width: 250px;
}

/* content */
.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* left-side : banner */
.banner {
  text-align: center;
}

.banner img {
  width: 400px;
}

.card h2,
.banner h2 {
  color: #1e1e1e;
}

.card p,
.banner p {
  color: #505050;
}

/* right-side : card */
.card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.header {
  width: 80%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header h2 {
  font-size: 26px;
}

.card > h2 {
  margin: 0;
  margin-top: 20px;
}

.card a {
  color: #be0707;
  text-decoration: none;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.form label {
  align-self: flex-start;
  color: #505050;
  font-size: 14px;
  font-weight: 500;
}

.form input {
  height: 40px;
  align-items: center;
  background-color: #fefefe;
  font-size: 16px;
  border: 1px solid rgba(201, 201, 201, 0.92);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.form input:focus {
  outline: 1px solid #be0707cc;
}

.register-btn,
.login-btn {
  height: 40px;
  background-color: #be0707;
  color: #fefefe;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgba(201, 201, 201, 0.92);
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.options {
  width: 80%;
}

.options h6 {
  color: rgba(201, 201, 201, 0.92);
  text-align: center;
  border-bottom: 1px solid rgba(201, 201, 201, 0.92);
  font-weight: 400;
  line-height: 0.1em;
}

.options h6 span {
  background: #fefefe;
  padding: 0 15px;
}

.google-btn {
  height: 40px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  border: 1px solid rgba(201, 201, 201, 0.92);
  border-radius: 4px;
  margin-bottom: 30px;
  cursor: pointer;
}

.google-btn span {
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}

.muted {
  background-color: #505050dd;
  color: #fefefe;
}
