.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main img {
  width: 400px;
}

.main h1 {
  color: #1e1e1e;
}

.main div {
  display:flex;
}

.main button {
  width: 250px;
  height: 36px;
  background-color: #be0707;
  color: #fefefe;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  margin: 0 10px;
  cursor: pointer;
}
