.main {
  margin-top: 80px;
  padding: 10px 5%;
}

/* header */
.header {
  color: #1e1e1e;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  margin: 15px 0;
}

/* content */
.history {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}